@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINMittelschriftRegular';
    src: url('dinmittelschrift-regular.eot');
    src: url('dinmittelschrift-regular.eot') format('embedded-opentype'),
         url('dinmittelschrift-regular.woff') format('woff'),
         url('dinmittelschrift-regular.ttf') format('truetype'),
         url('dinmittelschrift-regular.svg#DINMittelschriftRegular') format('svg');
}

@font-face {
	font-family: 'bc-icons';
	src:url('fonts/bc-icons.eot');
	src:url('fonts/bc-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/bc-icons.woff') format('woff'),
		url('fonts/bc-icons.ttf') format('truetype'),
		url('fonts/bc-icons.svg#bc-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Futura-Light-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Light-Italic';
    src: url('Futura-Light-Italic.eot?#iefix') format('embedded-opentype'),
         url('Futura-Light-Italic.woff') format('woff'),
         url('Futura-Light-Italic.ttf')  format('truetype'),
         url('Futura-Light-Italic.svg#webfont') format('svg');
}

/* Futura-Bold-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Bold-Italic';
    src: url('Futura-Bold-Italic.eot?#iefix') format('embedded-opentype'),
         url('Futura-Bold-Italic.woff') format('woff'),
         url('Futura-Bold-Italic.ttf')  format('truetype'),
         url('Futura-Bold-Italic.svg#webfont') format('svg');
}

/* Futura-Bold webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Bold';
    src: url('Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('Futura-Bold.woff') format('woff'),
         url('Futura-Bold.ttf')  format('truetype'),
         url('Futura-Bold.svg#webfont') format('svg');
}

/* Futura-Book-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Book-Italic';
    src: url('Futura-Book-Italic.eot?#iefix') format('embedded-opentype'),
         url('Futura-Book-Italic.woff') format('woff'),
         url('Futura-Book-Italic.ttf')  format('truetype'),
         url('Futura-Book-Italic.svg#webfont') format('svg');
}

/* Futura-Book webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Book';
    src: url('Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('Futura-Book.woff') format('woff'),
         url('Futura-Book.ttf')  format('truetype'),
         url('Futura-Book.svg#webfont') format('svg');
}

/* Futura-Light webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Light';
    src: url('Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('Futura-Light.woff') format('woff'),
         url('Futura-Light.ttf')  format('truetype'),
         url('Futura-Light.svg#webfont') format('svg');
}

/* Futura-Medium-Italic webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Medium-Italic';
    src: url('Futura-Medium-Italic.eot?#iefix') format('embedded-opentype'),
         url('Futura-Medium-Italic.woff') format('woff'),
         url('Futura-Medium-Italic.ttf')  format('truetype'),
         url('Futura-Medium-Italic.svg#webfont') format('svg');
}

/* Futura-Medium webfont (new-bulletproof) */ 
@font-face {
    font-family: 'Futura-Medium';
    src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),
         url('Futura-Medium.woff') format('woff'),
         url('Futura-Medium.ttf')  format('truetype'),
         url('Futura-Medium.svg#webfont') format('svg');
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 17, 2013 12:56:25 AM America/New_York */



@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('LeagueGothic-Regular-webfont.eot');
    src: url('LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-Regular-webfont.woff') format('woff'),
         url('LeagueGothic-Regular-webfont.ttf') format('truetype'),
         url('LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LeagueGothicItalic';
    src: url('LeagueGothic-Italic-webfont.eot');
    src: url('LeagueGothic-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-Italic-webfont.woff') format('woff'),
         url('LeagueGothic-Italic-webfont.ttf') format('truetype'),
         url('LeagueGothic-Italic-webfont.svg#LeagueGothicItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LeagueGothicCondensedRegular';
    src: url('LeagueGothic-CondensedRegular-webfont.eot');
    src: url('LeagueGothic-CondensedRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-CondensedRegular-webfont.woff') format('woff'),
         url('LeagueGothic-CondensedRegular-webfont.ttf') format('truetype'),
         url('LeagueGothic-CondensedRegular-webfont.svg#LeagueGothicCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LeagueGothicCondensedItalic';
    src: url('LeagueGothic-CondensedItalic-webfont.eot');
    src: url('LeagueGothic-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-CondensedItalic-webfont.woff') format('woff'),
         url('LeagueGothic-CondensedItalic-webfont.ttf') format('truetype'),
         url('LeagueGothic-CondensedItalic-webfont.svg#LeagueGothicCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'bc-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.calendar, .reddit_icon, .script-icon, .clock-icon, .dropdown_arrow, .play, .twitter, .facebook, .tumblr, .podcast, .noun_project_2863 {
	font-family: 'bc-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.calendar:before {
	content: "\f073";
}
.reddit_icon:before {
	content: "\e002";
}
.script-icon:before {
	content: "\e003";
}
.clock-icon:before {
	content: "\e004";
}
.dropdown_arrow:before {
	content: "\e005";
}
.play:before {
	content: "\e006";
}
.twitter:before {
	content: "\e007";
}
.facebook:before {
	content: "\e008";
}
.tumblr:before {
	content: "\e00a";
}
.podcast:before {
	content: "\e00c";
}
.noun_project_2863:before {
	content: "\e000";
}



@font-face {
	font-family: 'p-icons';
	src:url('fonts/p-icons.eot');
	src:url('fonts/p-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/p-icons.woff') format('woff'),
		url('fonts/p-icons.ttf') format('truetype'),
		url('fonts/p-icons.svg#p-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'p-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="profile"] {
*/
.profilesearch {
	font-family: 'p-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.profilesearch:before {
	content: "\e001";
}

@font-face {
	font-family: 'profile-icons';
	src:url('fonts/profile-icons.eot');
	src:url('fonts/profile-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/profile-icons.woff') format('woff'),
		url('fonts/profile-icons.ttf') format('truetype'),
		url('fonts/profile-icons.svg#profile-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'profile-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="profile"] {
*/
.profileinfo {
	font-family: 'profile-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.profileinfo:before {
	content: "\e000";
}

@font-face {
	font-family: 'mini50';
	src:url('fonts/mini50.eot');
	src:url('fonts/mini50.eot?#iefix') format('embedded-opentype'),
		url('fonts/mini50.woff') format('woff'),
		url('fonts/mini50.ttf') format('truetype'),
		url('fonts/mini50.svg#mini50') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'mini50';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-share {
	font-family: 'mini50';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-share:before {
	content: "\e000";
}

