@font-face {
    font-family: 'BebasRegular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DINMittelschriftRegular';
    src: url('dinmittelschrift-regular.eot');
    src: url('dinmittelschrift-regular.eot') format('embedded-opentype'),
         url('dinmittelschrift-regular.woff') format('woff'),
         url('dinmittelschrift-regular.ttf') format('truetype'),
         url('dinmittelschrift-regular.svg#DINMittelschriftRegular') format('svg');
}

@font-face {
	font-family: 'bc-icons';
	src:url('fonts/bc-icons.eot');
	src:url('fonts/bc-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/bc-icons.woff') format('woff'),
		url('fonts/bc-icons.ttf') format('truetype'),
		url('fonts/bc-icons.svg#bc-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'bc-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.calendar, .reddit_icon, .script-icon, .clock-icon, .dropdown_arrow, .play, .twitter, .facebook, .tumblr, .podcast, .noun_project_2863 {
	font-family: 'bc-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.calendar:before {
	content: "\f073";
}
.reddit_icon:before {
	content: "\e002";
}
.script-icon:before {
	content: "\e003";
}
.clock-icon:before {
	content: "\e004";
}
.dropdown_arrow:before {
	content: "\e005";
}
.play:before {
	content: "\e006";
}
.twitter:before {
	content: "\e007";
}
.facebook:before {
	content: "\e008";
}
.tumblr:before {
	content: "\e00a";
}
.podcast:before {
	content: "\e00c";
}
.noun_project_2863:before {
	content: "\e000";
}
