

body {
	background-color: #EEEEEE;
	font-family: arial;
	margin: 0;
	padding: 0;
	top: 0;
	
	/* jakeandamir.com */
	/*color: #cad2b0;
	background-color: rgb(48, 46, 25);*/
}

h1 {
	margin: 0;
	padding: 0;
}

#container {
	background-color: #E5E5E5;
	width: 900px;
	min-height: 800px;
	margin-left: auto;
	margin-right: auto;
}

#main-header {
	background-color: white;
	overflow: auto;	
	padding: 10px;
}

#main-header h1 {
	float: left;	
}
#main-header h1 a {
	color: gray;
}

#content h2 {
	margin: 0;
}

#content .content-box {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
	
	padding: 20px 0px;
}

/*==============*\
	Search Area
\*==============*/

#search-area {
	padding: 0;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	
	/*border: 1px solid black;*/
}

#search-terms-bar, #exact-phrase-bar {
	width: 100%;
}

.default-text { width: 300px; }
.default-text-active { color: #a1a1a1; font-style: italic; }

#advanced-options, .submit-container{
	display: inline-block;
    width: 100%;
}

#advanced-options .advanced-option-box{
	width: 49%;
	/*border: 1px solid black;*/
}

#advanced-options label{
	font-size: 13px;
}

#title-only {
	float: left;
}

#date-pickers {
	float: right;
	text-align: right;
}

#container input[type='text'] {
	background-color: #F8F8F8;
    border: 1px solid #576173;
    /*border-radius: 20px;*/
    box-shadow: 0 1px 0 #FFFFFF;
    height: 25px;
	margin: 5px 0;
}

#submit-search, #clear-all-button {
	float: right;
}

#advanced-options-button{
	float: left;
}

.form-button {
	background-color: white;
	border-radius: 0px;
	border: 1px solid black;
	padding: 5px;
	margin: 0px;
}

.form-button:hover{
	background-color: #EBFFFF
}

#clear-all-button.form-button{
	margin-right: 5px;
}

#container table.results-table {
	width: 100%;
	/*border: 1px solid black;*/
}

/*==============*\
	Results Area
\*==============*/

#results-area {
	width: 675px;
	margin-left: auto;
	margin-right: auto;
}

#back-to-top {
	width: 100px;
	background-color:lightskyblue;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.results-header-table th.results-header{
	/* border: 1px solid black;	*/
	font-size: 12px;
}

.results-header-table th.results-header.title{
	text-align: left;
	width: 80%;
}

.results-header-table th.results-header.date, .results-header-table th.results-header.time{

}

#results-area .script-meta-data {
	font-size: 11px;
	color: #666666;
	width: 100%;
	overflow: auto;
	margin-bottom: 10px;
}

#results-area .script-meta-data .user,
#results-area .script-meta-data .permalink{
	float: left;
}

#results-area .script-meta-data .extras{
	float: right;
}

.script {
	border: 1px solid black;
	background-color: #E5E5E5;
	font: 14px courier;		
}

.script div{
	margin: 0;
	padding: 10px;
}


/* UI Accordion */

#results-accordion {
}

#results-accordion .ui-widget {

}

#results-accordion .ui-widget-content, 
#results-accordion .ui-state-active,
#results-accordion .ui-state-default {
	border: 1px solid black;
}

#results-accordion .ui-widget-content {
	border-top: none;
}

#results-accordion .ui-corner-all {
	border-radius: 0px;
}

#results-accordion .ui-corner-all,
#results-accordion .ui-corner-top,
#results-accordion .ui-corner-left,
#results-accordion .ui-corner-tl {
	border-top-left-radius: 0px;
}
#results-accordion .ui-corner-all,
#results-accordion .ui-corner-top,
#results-accordion .ui-corner-right,
#results-accordion .ui-corner-tr {
	border-top-right-radius: 0px;
}
#results-accordion .ui-corner-all,
#results-accordion .ui-corner-bottom,
#results-accordion .ui-corner-left,
#results-accordion .ui-corner-bl {
	border-bottom-left-radius: 0px;
}
#results-accordion .ui-corner-all,
#results-accordion .ui-corner-bottom,
#results-accordion .ui-corner-right,
#results-accordion .ui-corner-br {
	border-bottom-right-radius: 0px;
}


/* accordion row header */
#results-accordion .ui-state-default { 
	background: white;
}

#results-accordion .ui-accordion-content {
	padding: 10px 30px;
}

















